$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/normalize-scss/_normalize.scss";
// endbower

@import "partials/effects";
@import "partials/navigation";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
  overflow-x: hidden;
}

p {
  font-size: 1.1em;
  letter-spacing: 0.01em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
}
h1 {
  color: rgba(50,50,100,1);
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
  line-height: 1.1em;
}



/* ==========================================
 * TOPBOX & DRIPS
 * ======================================== */
#topbox {

}

.topbox {
  height: 90vh;
  position: relative;
  overflow: hidden;
  background: url('../images/blue_sky.jpg') no-repeat center center;
  background-size: cover;
  .hero {
    height: 90vh;
  }
  h1 {
    color: #FFF;
    font-weight: 300;
    text-shadow: 0 0 50px rgba(50,50,100,0.8), 0 7px 10px rgba(50,50,100,0.3);
  }
  #dripsBg {
    width: 100%;
    height: auto;
    max-height: 90vh;
    opacity: 0;
  }
  #canvasHolder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 90vh;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
  .bottle {
    position: absolute;
    width: 250px;
    height: 100vh;
    right: 20%;
    bottom: -40%;
    background-image: url("../images/bottle-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transform: rotate(-10deg);
  }

  .copy {
    position: relative;
    color: #FFF;
    margin: 40% 0 0 20%;
    z-index: 99;
  }
}


/* ==========================================
 * NATURALLY FILTERED
 * ======================================== */
#natural {

}

.natural-filter {
  background: rgb(212, 220, 230);
  //background: url('http://api.thumbr.it/whitenoise-361x370.png?background=2b231300&noise=635749&density=25&opacity=34) rgb(16,24,33);;
  display: block;
  position: relative;
  min-height: 70vh;
  padding-bottom: 0;

  #terrain {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 70vh;
    height: 800px;
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 20;

    canvas {
      position:absolute;
      top:0;
      left:0;
      background: transparent;
    }
  }
  #water_flow {
    position: absolute;
    top: -40px;
    left: 11%;
    z-index: 30;
  }
  #bgCanvas {
    position:absolute;
    top:-60px;
    left:0;
    //background: rgb(16,24,33);
  }
    #rocky {
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: -60px;
    background: transparent;
    height: 60px;
    width: 100%;
    z-index: 99;
  }
  #bg{
    width: 100%;
    height: 60%;
    background-size: cover;
    position: absolute;
    top: 40%; right: 0; bottom: 0; left:0;
    z-index: 22;
  }
  article {
    position: relative;
    color: rgb(16,24,33);
    z-index: 30;
    padding: 8% 12% 10% 0;
  }
  canvas {

  }
}

#progress {
  height: 8px;
  background-color: rgba(39, 174, 96,.75);
  position: fixed;
  bottom: 0;
  left: 0;
}
/* ==========================================
 * BENEFITS SECTION
 * ======================================== */
#benefits {

}

.benefits {
  position: relative;
  background-image: url('../images/rainforest.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding: 10% 12% 0;
  h1, p {
    color: #fff;
  }

  svg {
    position: relative;
    width: 80%;
    height: auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);

    /* .shadow text {
      filter: drop-shadow( 0px 3px 7px rgba(22,22,44,0.8) );
      -webkit-filter: drop-shadow( 0px 3px 7px rgba(22,22,44,0.8) );
    } */
  }
  .row {

  }
}
/* ==========================================
 * DAILY USE SECTION
 * ======================================== */
#dailyuse {
  position: relative;
}

$c1: rgba(229, 219, 230, 1);
$c2: rgba(162, 213, 211, 1);
$c3: rgba(57, 174, 169, 1);
$c4: rgba(85, 123, 131, 1);
$c5: rgba(91, 81, 81, 1);
/* ======================================== */
// FLOATING SCENE
// SCROLLMAGIC ENABLED
/* ======================================== */
#floatscene {
  position: relative;
  top: 0;
  width: 100%;
  height: 160vh;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  p {
    text-shadow: 0 0 50px rgba(50,50,100,0.8), 0 7px 10px rgba(50,50,100,0.3);
  }
  h1 {
    color: #FFF;
    font-weight: 300;
    text-shadow: 0 0 50px rgba(50,50,100,0.8), 0 7px 10px rgba(50,50,100,0.3);
  }
  > div {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 160vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bkg {

  }
  .bgimage {
    display: block;
    position: absolute;
    width: 110vw;
    height: 140vh;
    top:-10vh; bottom: -10vh; left: -5vw; right: 0;
    //background-image: linear-gradient(180deg rgba(59, 234, 255, 0.5) 40%, rgba(10, 10, 52, 0) 70%, rgba(10, 10, 52, 0.6) 90%);
    background-image: radial-gradient( $c1 12%, $c2 22%, $c3 36%, $c4 50%, $c5 68%), radial-gradient( $c1 8%, $c2 15%, $c3 26%, $c4 34%, $c5 48%), url('../images/water_blue.jpg');
    background-blend-mode: multiply, screen, normal;
    background-size: 150% 150%, 100% 270%, cover;
    background-position: 77% 75%, 150% 95%, 50% 0%;
    background-repeat: no-repeat, repeat, no-repeat;
    z-index: 1;
  }
  .bot {
    position: absolute;
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .lay1 .bot {
    top: 30%;
    right: 19%;
    width: 50px;
    height: 140px;
    filter:blur(2px);
    transform: rotate(-3deg);
    opacity: 0.9;
    background-image: url('../images/lv350.png');
  }

  .lay4 .bot {
    top: 32%;
    right: 12%;
    width: 120px;
    height: 280px;
    filter: blur(1px);
    transform: rotate(7deg);
    opacity: 0.9;
    background-image: url('../images/lv5l.png');
  }

  .lay3 .bot {
    top: 20%;
    left: 4%;
    width: 240px;
    height: 420px;
    filter:blur(1px);
    transform: rotate(12deg);
    opacity: 0.9;
    background-image: url('../images/lavie19l.png');
  }

  .lay2 .bot {
    top: 52%;
    right: 20%;
    width: 70px;
    height: 260px;
    filter:blur(2px);
    transform: rotate(-8deg);
    opacity: 0.8;
    background-image: url('../images/lv1l5.png');
  }

  .lay5 {
    //background-image: url('../images/5-diver-fs8.png');
  }

  .lay10 {
    width: 120vw;
    height: 120vh;
    display: block;
    z-index: 2;
  }
  .bottle {
    position: absolute;
    width: 180px;
    height: 60vh;
    left: 60%;
    top: 20%;
    background-image: url('../images/bottle-2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.flying {
  animation: flying 4.5s infinite ease-in-out;
}
@keyframes flying {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px) rotate(-2deg);
  }
  100% {
    transform: translateY(0);
  }
}
$b-size: 18px;
$b-surface: -120vh;

.bubs {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  .bubble {
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid rgba(255,255,255,0.10);
    will-change: transform;
    background: rgba(#FFF, .02); // gradient fallback
    background: radial-gradient(circle at 30% 10%, rgba(#FFF, .01) 55%, rgba(#FFF, .16) 65%, rgba(#FFF, .24) 85%);
    animation: bubble 5s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
}
@keyframes bubble {
  from {
    transform: translateY($b-size);
    opacity: 1;
  }
  to {
    transform: translateY($b-surface);
    opacity: 0.25;
  }
}



.img-move-1 {
  position: absolute;
  left: 20%;
  height: 70vh;
  top: 0;
  transform: translateY(160%);
}
.img-move-2 {
  position: absolute;
  right: 20%;
  height: 70vh;
  top: 0;
  transform: translateY(160%);
}
.text1 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 33;
  .copy {
    position: absolute;
    padding: 2em;
    background-color: #223355;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 110%);


  }
}


#pinContainer {
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
	.panelscroll {
    height: 100%;
    width: 100%;
    position: absolute;

    .panelscroll-l {
      height: 100vh;
  		width: 44%;
      left: 0;
  		position: absolute;
      background-color: #333444;
      margin: 16% 3%;
    }
    .panelscroll-r {
      height: 100vh;
  		width: 44%;
      right: 0;
  		position: absolute;
      background-color: #999444;
      margin: 16% 3%;
    }
	}
