.bubble-loader {
  display: block;
  position: absolute;
  left: 35%;
  width: 50px;
  div {
    animation: scroll-bubble 5600ms forwards infinite;
    background: rgba(#0cffff, 0.3);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.7);
    box-shadow: 0 0 8px #0abab5;
    display: block;
    height: 10px;
    margin: 14px auto;
    transform: scale(0.6);
    width: 10px;

    &:nth-child(2) {
      animation-delay: 125ms;
    }
    &:nth-child(3) {
      animation-delay: 250ms;
    }
    &:nth-child(4) {
      animation-delay: 375ms;
    }
    &:nth-child(5) {
      animation-delay: 500ms;
    }
    &.arrow {
      background: transparent;
      border: 0;
      box-shadow: none;
      color: rgba(#0cffff, 0.3);
      text-shadow: 0 0 8px #0abab5;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 3em;
      margin: -20px auto;
    }
  }
}
@keyframes scroll-bubble {
  0%   { transform: scale(0.6); }
  6%  { transform: scale(1.2); }
  12%  { transform: scale(0.8); }
  25%  { transform: scale(1); }
  55%  { transform: scale(0.6); }
}


.spacer {
	min-height: 100px;
}
.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 200px;
}
.spacer.s3 {
	min-height: 300px;
}
.spacer.s4 {
	min-height: 400px;
}
.spacer.s5 {
	min-height: 500px;
}
.spacer.s6 {
	min-height: 600px;
}
.spacer.s7 {
	min-height: 700px;
}
.spacer.s8 {
	min-height: 800px;
}
.spacer.s9 {
	min-height: 900px;
}
.spacer.s10 {
	min-height: 1000px;
}
.spacer.s_viewport {
	min-height: 100%;
}
