/* ======================================== */
// NAVBAR
/* ======================================== */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar {
  background: rgba(#057bc3, 0.2);
  border-radius: 0;
  border: 0;
  min-height: 50px;
  font-weight: 300;
  font-size: 0.9em;
  color: #FFF;
  text-transform: uppercase;
  ul {
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    width: 86%;
    vertical-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    li {
      backface-visibility: hidden;
      line-height: 1.4em;
      .logo {
        width: 86px;
        height: auto;
      }
      a {
        text-decoration: none;
        color: #FFF;
        padding: 1.4em 0.8em;
        display: block;
       text-shadow: 0 0 30px rgba(50,50,100,0.8), 0 3px 6px rgba(50,50,100,0.3);
     }
    }
    >li:nth-child(1) {
      margin-top: -0.2em;
    }
    >li:nth-child(2) {
      margin-left: auto;
    }
    .btn-round {
      border-radius: 30px;
      border: 1px solid #fff;
      padding: 0.8em 1em;
      margin: 0.6em;
    }
    .btn-buy {
      display: block;
      padding: 0.8em 1.4em;
      text-align: center;
    }
    .btn-search {
      border-right: 100%;
      .fa-search {
        //padding:0px 2px 3px 2px;
      }
    }
  }
}
